
[ctypes-gen]
# ctypes bindings generator options
show_all_errors: True
show_long_errors: True
show_macro_warnings: True

all_headers: False
builtin_symbols: False
include_macros: False
no_python_types: True
no_gnu_types: True
no_stddef_types: True

# GCC is checked and used automatically, you only need to
# change and set this if using some other C preprocessor:
# cpp: gcc -E

[gcc]

win-path: C:\MinGW\bin

[brlcad]
# defaults section for all brlcad versions,
# can be overridden for specific versions

prefix: /usr/brlcad

# the order of the libraries is important, dependencies must be loaded first
libraries: bu, bn, brep, rt, wdb, ged

# defaults for each library are (bn as example):
# bn-lib-name: libbn
# bn-module-name: brlcad._bindings.libbn
# bn-lib-header: bn.h

# You only need to explicitly specify parameters which don't fit the pattern.
# An example is the rt library which has special header name:
rt-lib-header: raytrace.h

# Dependencies have empty set as default, so they must be specified fully.
bn-dependencies: bu
brep-dependencies: bu
rt-dependencies: bu, bn
wdb-dependencies: bu, bn, rt
ged-dependencies: bu, bn, rt


#[brlcad-7.24.1]
# You can override the default values for specific brlcad versions.
# This is so that a single configuration file can be shipped
# which still covers all known versions of brlcad. Also it makes it
# easier to set up new libraries in future brlcad versions.
#
#min-brlcad-version: 7.24.1
#max-brlcad-version: 7.24.1
#
# the full list of library names must be repeated, and order is important:
#libraries: bu, bn, rt, wdb, ged, brep




